<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.orx_project.orx_template">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:theme="@style/MyTheme"
        android:hardwareAccelerated="false">

        <activity android:name="org.orx_project.orx_template.OrxTemplate" android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
